.App {
  font-family: sans-serif;
  text-align: center;
}
.Weather-App {
  background-color: white;
  border: 1px transparent;
  border-radius: 5px;
  margin: 30px auto;
  margin-top: 50px;
  height: 315px;
  width: 600px;
  padding: 25px;
  margin-right: -25px;
}
.Link-Decor {
  color: white;
  text-decoration: none;
  margin-right: -38px;
}
.Input-Bar {
  width: 350px;
  height: 32px;
  box-shadow: 0px 4px 4px rgba(45, 119, 35, 0.25);
  border-radius: 4px;
}
.Input-Button {
  width: 70px;
  height: 30px;
  box-shadow: 0px 4px 4px rgba(45, 119, 35, 0.25);
  border-radius: 4px;
  margin-left: 25px;
}
